<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="infofile" fileName="${basedir}\log\info\${shortdate}\nlog-info-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}" />

        <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="errorfile" fileName="${basedir}\log\error\${shortdate}\nlog-error-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}" />

        <!--write to the void aka just remove-->
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" level="Info" writeTo="infofile" />
        <logger name="*" level="Error" writeTo="errorfile" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />
    </rules>
</nlog>